@import '../base/variables';

/**** Layout ****/

%fullwidth {
    flex-basis: 100%;
}

.l-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: ($indent * 2);

    @media #{$breakpoint--large-above} {
        margin: auto;
        padding: ($indent * 4);
        max-width: $layout-width--large;
    }

    @media #{$breakpoint--x-large-above} {
        max-width: $layout-width--x-large;
    }
}

.l-header,
.l-main {
    @extend %fullwidth;
}
