@import '../base/variables';

/**** Contacts ****/

.c-contacts {
    &__link {
        display: block;
        padding: ($indent * 2) 0;
        border-top: .1rem solid $brand-color--primary;
        color: $brand-color--tertiary;
        white-space: nowrap;

        .c-contacts__item:last-child & {
            border-bottom: .1rem solid $brand-color--primary;
        }

        &:hover {
            .is-not-touch & {
                .c-icon {
                    color: $brand-color--primary;
                }
            }
        }
    }

    .c-icon {
        top: -.2rem;
        margin-right: ($indent * 2);
        width: 2.4rem;
        height: 2.4rem;
        transition: $transition-duration;

        &--linkedin {
            top: -.4rem;
        }
    }
}
