@import '../base/variables';

/**** Listing ****/

.c-listing {
    display: flex;
    flex-wrap: wrap;
    line-height: $golden-ratio;
    color: $brand-color--tertiary;

    @media #{$breakpoint--large-above} {
        margin-top: -($indent * 2);
        margin-right: -($indent * 2);
        margin-left: -($indent * 2);
        width: 92rem;
    }

    &__col {
        flex-basis: 100%;
        padding-top: ($indent * 2);

        @media #{$breakpoint--medium-above} {
            flex-basis: 50%;
            padding-right: ($indent * 2);
            padding-left: ($indent * 2);
        }

        @media #{$breakpoint--large-above} {
            flex-basis: 33.3%;
        }
    }

    &__list {
        padding: $indent 0 0;
        font-family: $font-family--alternate;
    }

    &__heading {
        font-size: 2.4rem;
        padding: ($indent * 2) 0 0;
        border-top: .1rem solid $listing-border-color;
    }
}
