@import '../base/variables';

/**** Loading ****/

.c-loading {
    margin: $indent * 2 auto;
    border-radius: 50%;
    width: $indent * 4;
    height: $indent * 4;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-top: .2rem solid $brand-color--primary;
    animation: rotating 1s infinite linear;
}

@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}
