@import '../base/variables';

/**** Portfolio ****/

.c-portfolio {
    color: $brand-color--tertiary;
    line-height: $golden-ratio;

    &__item {
        margin: ($indent * 2) 0 0;
        padding: ($indent * 2) 0 0;
        border-top: .1rem solid $listing-border-color;

        &:first-child {
            margin: 0;
        }
    }

    &__title {
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    &__link {
        display: block;

        span {
            display: inline-block;
            border-bottom: .1rem solid $brand-color--tertiary;
        }
    }

    &__sub-title {
        margin: ($indent * 2) 0 0;
    }

    &__description {
        margin: $indent 0 0;
    }

    &__tech-stack {
        .c-icon {
            top: 0;
            margin: $indent $indent 0 0;
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
