@import '../base/variables';

/**** Animation ****/

.v-animation {
    animation-duration: 1s;
    animation-fill-mode: both;

    &--fade-in {
        animation-duration: .5s;
        animation-name: animation--fade-in;
    }

    &--roll-in {
        animation-name: animation--roll-in;
    }

    &--slide-in-down {
        animation-name: animation--slide-in-down;
    }

    &--slide-in-left {
        animation-name: animation--slide-in-left;
    }

    &--slide-in-right {
        animation-name: animation--slide-in-right;
    }

    &--fade-in-up {
        animation-name: animation--fade-in-up;
    }

    &--zoom-in {
        animation-duration: .5s;
        animation-name: animation--zoom-in;
    }
}

/**** Keyframes ****/

@keyframes animation--fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes animation--draw {
    90% {
        stroke-dashoffset: 0;
        stroke-width: 2;
    }
    100% {
        stroke-width: 2;
    }
}

@keyframes animation--roll-in {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animation--slide-in-down {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animation--slide-in-left {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animation--slide-in-right {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animation--fade-in-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animation--zoom-in {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
