@import '_variables.scss';

/**** Overlay ****/

.ReactModal__Body--open {
    overflow: hidden;
}

.c-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay-background;
    z-index: 9999;
    animation: animation--fadein $transition-duration;

    &__inner {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    &__content {
        margin: 0 $indent--l;
        padding: $indent--l;
        max-height: 80vh;
        background: $overlay-content-background;
        border-radius: .3rem;
        color: $overlay-content-color;
        overflow: auto;

        @media #{$breakpoint--large-above} {
            margin: 0;
            padding: $indent--xl;
        }
    }
}
