@import 'variables';

/**** Reset ****/

@-ms-viewport {
    width: device-width;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: $selection-background;
    color: $selection-color;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: $font-family;
    font-weight: $font-weight--normal;
    font-size: $font-size--primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $brand-color--tertiary;
    color: $body-color;
    line-height: 1;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    min-height: 100vh;

}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: $font-weight--bold;
}

main,
li {
    display: block;
}

a,
button {
    color: inherit;
    cursor: pointer;
    transition: $transition-duration;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/**** SVG ****/

svg {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
    stroke: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

svg use {
    pointer-events: none
}

/**** Root ***/

#root {
    flex-basis: 100%;
}
